/*
h1 { color: #6200ee; }
*/

a, u {
  text-decoration: none;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
    background-color: rgb(255, 255, 255);
    max-width: 480px;
    margin: auto;
}

.asset_id {
  overflow-wrap: break-word;
}

.box {
  display: flex;
  padding: 10px;
}

.small {
  height: 30px !important;
}